@model Category


<form method="post">
    <div class="border p-3 mt-4">
        <div class="rpw pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr/>
        </div>
@*         <div asp-validation-summary="All" class="text-bg-danger"></div> *@
@*         <div asp-validation-summary="None" class="text-bg-danger"></div> *@
@*         <div asp-validation-summary="ModelOnly" class="text-bg-danger"></div> *@
        <div class="mb-3 row p-1">
            <label class="p-0">Category Name</label>
            <input asp-for="Name"  class="form-control"/>
            <span asp-validation-for="Name"  class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="DisplayOrder" class="p-0"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
            </div>
        </div>
@*         <partial name="_ValidationScriptsPartial" /> *@
    </div>



</form>
@* <div class="row">
    <div class="col-md-12">
        <label>Category Name</label>
       <input type="text" class="form-control" id="Names" />

    </div>

    <div class="col-md-12"> *@
@*         <label>Display Order</label> *@
       @* //@Html.TextboxFor(m => m.DisplayOrder); *@
@*         <input type="text" class="form-control" id="DisplayOrders" />
    </div>

    <button onclick="SubmitData()">Submit</button>
</div> *@

@section Scripts{
    @{
                <partial name="_ValidationScriptsPartial" />
    }

@*     <script type="text/javascript">
        function SubmitData(){
            
            //show loading..
            var x = $("#Names").val();
            var y = $("#DisplayOrders").val();
            data = {
                Name: $("#Names").val(),
                DisplayOrder: $("#DisplayOrders").val()
            }

            $.ajax({
                type: "POST",
                data: data,
                url: "@Url.Action("CreateCategory", "Category")",
                dataType: "json",
                beforeSend: function(){
                    //show loading..
                },
                success: function (result) {
                    debugger;
                    console.log(result)
                    const res = JSON.stringify(result)
                    if (result === "Ok") {
                        console.log(result);
                        window.location.href = "@Url.Action("Index", "Category")";
                       
                    }
                },
                complete: function(){
                    //hide loading..
                },
                error: function (req, status, error) {
                    console.log(error)

                }
            });
            //hide loading..
        }
    </script> *@

}